*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.places
smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
ido.last
backups
.emacs.desktop
.emacs.desktop.lock
projectile.cache
*.log
transient/

.lsp-session-v1
.org-id-locations
org-roam-db.bak
org-roam.db
